
/* 左側圖片ST */

@media only screen and (min-width: 375px) {
    .historyText-div{
        width:50%;
    }
    .historyText-item{
        
        
    }
}

@media only screen and (min-width: 768px) {
    .historyText-div{
        width:50%;

    }
    .historyText-item{
      
       
    }
}
@media only screen and (min-width: 1024px) {
    .historyText-div{
        width: 50%;

    }
    .historyText-item{
       
    }
}
@media only screen and (min-width: 1440px) {
    .historyText-div{
        width: 50%;

    }
    .historyText-item{

    }
}
/* 左側圖片ED */

/* 右側圖片ST */

@media only screen and (min-width: 375px) {
    .historyImg-div{
        
        width: 70%;
    }
}

@media only screen and (min-width: 768px) {
    .historyImg-div{
        width: 45%;
    }
}
@media only screen and (min-width: 1024px) {
    .historyImg-div{
        
        width: 45%;
    }
    
}
@media only screen and (min-width: 1440px) {
    .historyImg-div{
       
        width: 55%;
    }
}

